body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .container h1 {
        text-align: center; 
        color: #ff66b2; 
        margin-bottom: 30px;
    }

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col-md-4, .col-sm-6 {
    flex: 0 0 auto;
    width: 33.3333%;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: #000000; 
    margin-bottom: 15px;
}

.card-text {
    color: #333;
}

.Link {
    word-break: break-all;
}

a {
    color: #ff66b2; 
}
