@page
@model IndexModel
@{
    ViewData["Title"] = "Mi Web";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Index.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <section class="welcome">
        <h1>Bienvenido a mi sitio web</h1>
        <p>¡Hola! Soy Nicole, este es un espacio donde comparto mis intereses y un vistazo a mi vida. ¡Explora y descubre más sobre mí!</p>
        <img src="~/Images/yo2.jpg" alt="Nicolee" width="250" height="300" />
    </section>

    <section class="about-site">
        <h2>¿Qué puedes encontrar aquí?</h2>
        <p>Este sitio está dedicado a mostrar mis pasatiempos, mis series y animes favoritos, y compartir un poco más sobre mi genealogía y vida personal. Navega a través de las secciones para conocer más.</p>
    </section>

    <section class="inspiration">
        <h2>Mi Filosofía</h2>
        <blockquote>"El aprendizaje nunca termina, siempre hay algo nuevo que descubrir."</blockquote>
    </section>
</body>
</html>
